<ion-card *ngFor="let spam_email of spam_emails">
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col id="subject">From: {{ spam_email.pengirim }}</ion-col>
      </ion-row>

      <ion-row>
        <ion-col id="subject">Subject: {{ spam_email.subject }}</ion-col>
      </ion-row>

      <ion-row>
        <ion-col>{{ spam_email.isi }}</ion-col>
      </ion-row>

      <ion-row>
        <ion-button
          size="small"
          id="delete"
          (click)="removeSpam(spam_email.idemail)"
          >Remove</ion-button
        >
        <ion-col
          ><ion-label
            color="primary"
            routerLink="/detailspam/{{ spam_email.idemail }}"
            class="detail"
            >Detail</ion-label
          ></ion-col
        >
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
