<ion-card *ngFor="let fav_email of fav_emails">
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col id="subject">From: {{ fav_email.pengirim }}</ion-col>
      </ion-row>

      <ion-row>
        <ion-col id="subject">Subject: {{ fav_email.subject }}</ion-col>
      </ion-row>

      <ion-row>
        <ion-col>{{ fav_email.isi }}</ion-col>
      </ion-row>

      <ion-row>
        <ion-button
          size="small"
          id="delete"
          (click)="removeFavorite(fav_email.idemail)"
          >Remove</ion-button
        >
        <ion-col
          ><ion-label
            color="primary"
            routerLink="/detailfavorite/{{ fav_email.idemail }}"
            class="detail"
            >Detail</ion-label
          ></ion-col
        >
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
